:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hourlyScheduleContainer {
    width: 100%;
}

.hourlyScheduleContainer .slotsContainer {
    display: flex;
    height: 100%;
    align-self: flex-start;
    overflow-x: hidden;
}

.hourlyScheduleContainer .slotsContainer .slot {
    position: relative;
    height: 100px;
    width: 3px;
    border-style: solid;
    border-color: black;
    border-width: 0;
    border-left-width: 3px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hourlyScheduleContainer .timeIndicatorContainer {
  display: flex;
}

.hourlyScheduleContainer .timeIndicatorContainer .indicator {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid red;
}

.card {
  margin-bottom: 20px;
}

.badge {
  margin-right: 5px;
}