@import 'bootstrap/dist/css/bootstrap.min.css';

.tariffForecastContainer {
    width: 100%;
}

.tariffForecastContainer .slotsContainer {
    display: flex;
    height: 100%;
    align-self: flex-start;
    overflow-x: hidden;
}

.tariffForecastContainer .slotsContainer .slot {
    position: relative;
    height: 100px;
    width: 3px;
    border-style: solid;
    border-color: black;
    border-width: 0;
    border-left-width: 3px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tariffForecastContainer .slotsContainer .slot .startTime {
    position: absolute;
    left:5px;
    bottom:5px;
}

.tariffForecastContainer .slotsContainer .slot:first-child .startTime {
    display: none;
}

.tariffForecastContainer .slotsContainer .slot.peak {
    background-color: red;
    color: white;
}

.tariffForecastContainer .slotsContainer .slot.off-peak {
    background-color: green;
    color: white;
}

.energyForecastContainer {
    width: 100%;
    overflow-x: hidden;
    /* important part */
}

.energyForecastContainer .forecastContainer {
    position: relative;
    width: fit-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    transition-duration: 1s;
}

.energyForecastContainer .forecastContainer .startTime {
    text-align: left;
    grid-column: 1;
    grid-row: 2;
}

.energyForecastContainer .forecastContainer .endTime {
    text-align: right;
    grid-column: 2;
    grid-row: 2;
}

.energyForecastContainer .slotsContainer {
    position: relative;
    display: flex;
    height: 100%;
    align-self: flex-start;
    width: fit-content;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: span 2;
}

.energyForecastContainer .slotsContainer .slot {
    border: 2px solid black;
    border-right-width: 0;
    width: 100px;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

.energyForecastContainer .slotsContainer .slot.hatched {
    background-color: gray;
    opacity: 0.8;
    /* background: repeating-linear-gradient( -45deg, #000000, #000000 2px, #ffffff 2px, #ffffff 5px ); */
}

.energyForecastContainer .slotsContainer .slot.hatched span {
    background-color: #ffffff;
    text-transform: uppercase;
    color: #000;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: hidden;
    white-space: nowrap;
    overflow-x: none;
}

.energyForecastContainer .slotsContainer .slot:last-child {
    border-right-width: 2px;
}

.energyForecastContainer .slotsContainer .slot.peak {
    background-color: red;
    color: white;
}

.energyForecastContainer .slotsContainer .slot.off-peak {
    background-color: green;
    color: white;
}